{% extends "layout.html" %}

{% block title %}{{ g.title }}{% endblock %}
{% block subtitle %}{{ g.subtitle }}{% endblock %}
{% block panels %}
{% if g.tours | length > 0 %}
<div class="column">
    <section class="panel">
        <div class="panel-block">
            <ul>
                {% for tour in g.tours %}
                <li>
                    <a href="{{ url_for('show_tour', tourname=tour.name) }}">
                        {{ tour.title }}
                        {%- if tour.subtitle -%}&mdash; {{ tour.subtitle }}{%- endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endif %}
{% endblock %}
