{% extends "layout.html" %}

{% block title %}{{ g.title }}{% endblock %}
{% block subtitle %}{%- if g.subtitle -%}{{ g.subtitle }}{%- endif -%}{% endblock %}
{% block panels %}
<div class="column">
    <section class="panel">
        <div class="has-text-centered">
            <ul>
                <li>
                    <a class="button is-primary">Plan my route</a>
                </li>
            </ul>
        </div>
    </section>
    <table class="table">
        {% set fields = ['Name', 'Address', 'Description'] %}
        <thead>
            <tr>
                {% for field in fields %}
                <td>
                    {{ field }}
                </td>
                {% endfor %}
            </tr>
        </thead>

        {% for index, row in g.tour.data.iterrows() %}
        <tbody>
            <tr>
                {% for field in fields %}
                <td>
                    {{ row[field] }}
                </td>
                {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </section>
</div>
{% endblock %}
