{% extends "layout.html" %}

{% block title %}{{ g.title }}{% endblock %}
{% block subtitle %}{%- if g.subtitle -%}{{ g.subtitle }}{%- endif -%}{% endblock %}
{% block panels %}
<div class="column">
    <table class="table is-striped is-hoverable">
        {% set fields = ['Name', 'Description', 'Directions'] %}
        <thead>
            <tr>
                {% for field in fields %}
                <td>
                    {{ field }}
                </td>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
        {% for index, row in g.tour.data.iterrows() %}
            <tr>
                {% for field in fields %}
                <td>
                    {%- if field == 'Directions' -%}
                    <a href="{{ row[field] }}">Directions</a>
                    {%- else -%}
                    {{ row[field] }}
                    {%- endif -%}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
